<!DOCTYPE html>
<html>
<head>
    <title>Kaikki viitteet - Outi LaTeX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 id="all-references-title">Tässä kaikki lisäämäsi viitteet</h1>
        {% for reference in data %}
            <div class="reference-item" id="reference-item-{{ reference['bib_key'] }}">
                <h3 id="reference-key-{{ reference['bib_key'] }}">{{ reference["bib_key"] }}</h3>
                <ul id="reference-meta-{{ reference['bib_key'] }}">
                    <li id="reference-type-{{ reference['bib_key'] }}">{{ reference["reference_type"] }}</li>
                    <li id="reference-date-{{ reference['bib_key'] }}">{{ reference["created_at"] }}</li>
                </ul>
                <ul class="fields-list" id="reference-fields-{{ reference['bib_key'] }}">
                    {% for key, value in reference["fields"].items() %}
                        <li id="field-{{ reference['bib_key'] }}-{{ key }}"><strong>{{ key }}:</strong> <span id="value-{{ reference['bib_key'] }}-{{ key }}">{{ value }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <br/>
        <a href="/" id="back-to-home-button">Etusivu</a>
    </div>
</body>
</html>