<!DOCTYPE html>
<html>
<head>
    <title>Kaikki viitteet - Outi LaTeX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Tässä kaikki lisäämäsi viitteet</h1>
        {% for reference in data %}
            <div class="reference-item">
                <h3>{{ reference["bib_key"] }}</h3>
                <ul>
                    <li>{{ reference["reference_type"] }}</li>
                    <li>{{ reference["created_at"] }}</li>
                </ul>
                <ul class="fields-list">
                    {% for key, value in reference["fields"].items() %}
                        <li><strong>{{ key }}:</strong> <span>{{ value }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <br/>
        <a href="/">Etusivu</a>
    </div>
</body>
</html>